* {
  box-sizing: border-box;
}

html {
  font-family: montserrat;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: unset;
  color: var(--primary-clr-600);
  background-color: unset;
  cursor: pointer;
}

input[type="text"] {
    border: unset;
    border-bottom: 2px #040a2c solid;
    font-size: 1.1875rem;
}