.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.width-center {
  margin: 0 auto;
  max-width: 1200px;
}

.border {
  border-left: 1px solid rgb(224, 177, 145);
  border-right: 1px solid rgb(224, 177, 145);
}

.hide {
  display: none;
}