.about-me-section {
    justify-content: center;
    gap: 40px;
}

.about-me-section > img:first-of-type {
    width: 300px;
    border-radius: 50%;
}

.about-me-content {
    flex-direction: column;
    justify-content: center;
}

.about-me-content p {
    font-size: 1.25rem;
    width: 540px;
}

.about-me-icons img {
    width: 40px;
}