.about-me-section {
    justify-content: center;
    gap: 40px;
    min-height: 570px;
}

.about-me-section > img:first-of-type {
    margin-top: 100px;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.about-me-content {
    flex-direction: column;
    justify-content: center;
}

.about-me-content p {
    font-size: 1.25rem;
    width: 540px;
}

.about-me-icons img {
    width: 2.5rem;
}