.main-footer {
  background-color: var(--clr1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 205px;
  color: #fff;
  gap: 15px;
}

.copyrighs {
  font-size: 1.1875rem;
}

.main-footer .logo {
  background-image: url("../../imgs/logo.png");
  background-repeat: no-repeat;
  width: 8.125rem;
  height: 1.875rem;
  cursor: pointer;
  background-size: contain;
}
