.memes-container {
  background-color: var(--clr2);
  display: flex;
  justify-content: center;
}

.memes {
  grid-template-rows: repeat(3, var(--memeWidth));
  grid-template-columns: repeat(3, var(--memeWidth));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.memes img {
  width: var(--memeWidth);
  cursor: pointer;
}
