header {
  background-color: var(--clr1);
  padding: 0px 55px;
  align-items: center;
}

.logo {
  background-image: url("../../imgs/logo.png");
  background-repeat: no-repeat;
  width: 8.125rem;
  height: 1.875rem;
  cursor: pointer;
  background-size: contain;
}

header nav {
  color: #fff;
}

header nav a:not(:last-child) {
  border-inline-end: 1px solid var(--clr3);
}

header nav a {
  display: inline-block;
  height: 65px;
  line-height: 65px;
  text-align: center;
}
